doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      block content

    script(src='//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
    script(src='//cdn.jsdelivr.net/npm/jquery.appear')

    if theme.ga
      // Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=#{theme.ga.id}')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '#{theme.ga.id}');

    if page.mathjax
      include mathjax

    if config.highlight.hljs
      link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/highlight.js@9.13.1/styles/atom-one-dark.css")
      script(src="https://cdn.jsdelivr.net/npm/highlight.js@9.13.1/lib/highlight.js")
      script.
        hljs.initHighlightingOnLoad();

  block body_addons
