doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      block content

    script(src='//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
    script(src='//cdn.jsdelivr.net/npm/jquery.appear')

  block body_addons
