doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      block content

    script(src='//cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js')
    script(src='//cdn.jsdelivr.net/npm/jquery.appear')

    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-49433257-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-49433257-1');

    if page.mathjax
      include mathjax

  block body_addons
