link(rel="stylesheet" href="//unpkg.com/katex@0.12.0/dist/katex.min.css")
script(src="//unpkg.com/katex@0.12.0/dist/katex.js")
script(src="//unpkg.com/katex@0.12.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);")
